.App {
  text-align: left;
  width: 100%;
  max-width: 1280px;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;
  height: 80px;*/
  width: 100%;
  height: 200px;
}

.App-header {
  /*background-color: #222;*/
  /*height: 200px;*/
  /*padding: 20px;*/
  color: black;
  position: relative;
}

.App-header > div > h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px;
}

.App-Header-Menu {
  text-align: left;
}

.no-padding {
  padding: 0;
}

.App-Header-Menu img {
  width: 77px;
  height: 26px;
  padding: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Time-Component {
  text-align: right;
}
